<div class="titles-graph">
  <h2>Ma balance</h2>
  <h3>Entrées ou sorties d'argent par jour sur les {{daysNum}} derniers jours (date de l'opération).</h3>
</div>
<div class="slider-days">
  <mat-slider
    thumbLabel
    tickInterval="1"
    min="3"
    max="30"
    (input)="updateData($event)"></mat-slider>
</div>

<div class="chart-wrapper">
    <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [colors]="barChartColors"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [plugins]="barChartPlugins">
    </canvas>
</div>
