<mat-tab-group>
  <mat-tab label="Portefeuille">
    <div class="my-info">
      <mat-card class="card-money">
        <app-my-money></app-my-money>
      </mat-card>
      <mat-card class="card-balance">
        <div class="daily-balance">
          <app-daily-balance></app-daily-balance>
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Météo">
    <div class="weather">
      <app-weather-tab-content></app-weather-tab-content>
    </div>
   </mat-tab>
  <mat-tab label="Agenda">
  </mat-tab>
</mat-tab-group>
